/* hero sektion */

/* .heroDagligRutine{
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
} */

/* Daglig rutine sektion */

/* .dagligRutineSec{
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.dagligRutineInnersec{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.tidspunktDiv p, .tidspunktDiv h3{
    text-align: center;
} */


/* daglig rutine cta */

/* .dagligRutineCtaSec{
display: flex;
margin-top: 3rem;
padding:3rem;
background-color: var(--globalGreen);
gap: 3rem   ;
padding-left: 4rem;
    padding-right: 4rem;
}

.dagligRutineCtaSec div img{
    width: 30rem;
  height: auto;
} */
