@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --stdPadding: 0px;
    --stdMargin: 0px;
    --btnBlue:#419E9F;
    --globalGreen: #91B742;
    --hoverGreen: #6A951F;
    --acordionGreen: #8EC187;
    --lightBlue: #9FDFE0;
    --yellowHeadFoot: #F1DC99;
    --txtColor: #110106;
    --white: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1 {
    font-size: 88px;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-size: 64px;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-size: 56px;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}

p{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
