/*-----Hero Video-----*/

.heroVideo{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden; 
}

.heroVideo video{
    max-width: 100%;
}

.textOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.heroText {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 5px; 
}

.heroText h1 {
    color: var(--white); 
    margin: 0;
    font-size: 2em; 
    text-align: center;
}



/*----Owners Section----*/

.ownerAndTxtTop {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    padding-top: 4rem;
  }

  .ownerAndTxtBottom {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
    padding-top: 4rem;
  }
  
  .ownerAndTxtTop img {
    max-width: 100%; 
    height: auto; 
    padding-left: 4rem;
  }

  .ownerAndTxtBottom img {
    max-width: 100%; 
    height: auto;
    padding-right: 4rem;
  }
  
  .ownerDesc {
    flex: 1; 
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }

/*----Ny ven Div----*/  
  
.nyVenSec {
  background-color: var(--globalGreen);
  text-align: center;
}

.nyVenSec h3 {
  padding-top: 4rem;
}

.nyVenSec button {
 margin-bottom: 2rem;
}

.nyVenDiv {
  display: flex; 
  justify-content: space-between; 
  gap: 20px; 
  width: 100%; 
  padding: 2rem 1rem 4rem; 
}

.dyr {
  flex: 1; 
  text-align: center; 
  box-sizing: border-box; 
}

.dyr img {
  max-width: 100%; 
  height: auto; 
}

.dyr h4 {
  font-size: 28px;
  margin: 0;
}


.animalAttributes {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.animalAttributes h3 {
  padding-bottom: 2rem;
}

.attributeAnimalCTA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.attributeTitleTime {
  font-weight: bold;
  margin-right: 1rem; 
}

.lineFEP {
  flex-grow: 1; 
  border-bottom: 1px solid black; 
}

.attributeTimevalueTime {
  margin-left: 1rem; 
}


/*----Carousel Kommentarer----*/

.commentWrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 4rem; 
}

.commentCarouselSec {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.carouselSec {
    display: flex;
    overflow: hidden;
    width: 80%;
    height: 150px
}

.comment {
    display: none;
    text-align: center;
    padding: 20px;
    min-width: 100%;
    height: 100%
}

.comment.active {
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
}

button {
    background-color: var(--btnBlue);
    color: var(--white);
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hoverGreen);
}

.prev, .next {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


  